cilium:
  kubeProxyReplacement: true
  k8sServiceHost: slipway-mgmt-control-plane
  k8sServicePort: 6443
  hostServices:
    enabled: false
  externalIPs:
    enabled: true
  nodePort:
    enabled: true
  hostPort:
    enabled: true
  image:
    pullPolicy: IfNotPresent
  ipam:
    mode: kubernetes
  hubble:
    relay:
      enabled: true
    ui:
      enabled: true
