# Ignore local development files
**/.vscode
**/.DS_Store
**/image-builder/

# Docker Secrets, Environment Files
**/secrets.*
**/.env
**/*.env
**/*.kubeconfig

# Ignore Ansible
**/.ansible
image-builder
